<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><title>{% block title %}默认标题{% endblock %}</title></title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/layui/css/global.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">搜索淘宝商品</div>
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
        <i class="layui-icon layui-icon-spread-left"></i>
      </li>

      <li class="layui-nav-item layui-hide-xs"><a href="">主页</a></li>
      <li class="layui-nav-item layui-hide-xs"><a href="">历史记录</a></li>
      <li class="layui-nav-item layui-hide-xs"><a href="">加入购物车</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="javascript:;">
          <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic4.zhimg.com%2Fv2-b6eae3250bb62fadb3d2527f466cf033_b.jpg&refer=http%3A%2F%2Fpic4.zhimg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1628069152&t=ba6914d532fc6c281ba86377d0e0f067" class="layui-nav-img">
            {{request.user}}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="{% url 'auth_logout' %}">退出登录</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>

  {% block left %}
    <div>左侧边栏</div>
  {% endblock %}

  {% block body %}
    <div>页面body内容</div>
  {% endblock %}

</div>
<script src="/static/layui/layui.js"></script>
<script>
//JS
layui.use(['element', 'layer', 'util', 'form','jquery'], function(){
  var element = layui.element
  ,layer = layui.layer
  ,util = layui.util
  ,$ = layui.jquery
  ,form = layui.form;
});
</script>

{% block js %}
  <div>页面js</div>
{% endblock %}

</body>
</html>