{% extends 'index/base.html' %}

{% block title %}搜索{% endblock %}

{% block left %}
    <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">主页</a>
          <dl class="layui-nav-child">
            <dd><a href="{% url 'index_homepage' %}">搜索</a></dd>
            <dd><a href="javascript:;">详细信息</a></dd>
          </dl>
      </ul>
    </div>
  </div>
{% endblock %}

{% block body %}
    <div class="layui-body">
      <div class="layui-container layui-row">
        <div style="padding: 250px 10px 10px 10px;">
            <div class="layui-col-md2 layui-col-md-offset5">
                <a href="javascript:;">
                    <img src="https://bkimg.cdn.bcebos.com/pic/5fdf8db1cb134954b37001e85c4e9258d0094ad4?x-bce-process=image/watermark,image_d2F0ZXIvYmFpa2UxNTA=,g_7,xp_5,yp_5/format,f_auto" class="layui-logo-img">
                </a>
            </div>
            <div class="layui-col-md6 layui-col-md-offset2">
                <form class="layui-form" action="" method="post">
                    {% csrf_token %}
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品url</label>
                        <div class="layui-input-block">
                        <input type="text" name="url" required lay-verify="required|url" placeholder="请输入商品url" autocomplete="off" class="layui-input" value=http://www.baidu.com>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div style="padding: 10px 0px 0px 270px;">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">获取</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block js %}
<script>
//Demo
layui.use(['form','jquery','layer'],function(){
    var form = layui.form;
    var layer = layui.layer;
    $ = layui.jquery ;
    form.on('submit(formDemo)',function(data){
        var loading = layer.load(0,{offset: ['40%','50%'],shade: [0.1,'#3595CC'],area: ['10%','10%']});
         $.ajax({
            url:'/search/',
            type:'post',
            data:data.field,
            dataType:'json',
            success:function(data){
                layer.close(loading)
                if (data.success) {
                  layer.alert(data.message, {icon: 6});
                }else {
                  layer.alert(data.message, {icon: 5});
                }
            },
            error:function (data){
              console.log(data)
              layer.alert("未知错误", {icon: 5});
            }
        })
        return false;
    });
});
</script>
{% endblock %}